.home {
  background-color: #d5cea3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 100px); /* Resta altura de la navbar */
  padding-top: 100px; /* Deja espacio para la navbar */
  position: relative;
  font-family: 'Maven Pro', sans-serif;
   overflow: hidden;
}


.home-left {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}

/* Círculo de fondo que ocupa toda la esquina inferior izquierda */
.circulo-decorativo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 130vh;
  height: 130vh;
  background-color: #cf856b;
  border-top-right-radius: 100%;
  z-index: 0;
  transform: translate(-20%, 20%); /* Ajusta la posición para evitar bordes visibles */
}

.artesanos-img {
  max-height: 85vh;
  width: auto;
  position: relative;
  z-index: 2;
}

.home-right {
  max-width: 40%;
  text-align: left;
  z-index: 2;
  margin-top: -2rem; /* Levanta el contenido si estaba muy abajo */
}

.home-right h2 {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.home-right p {
  margin-bottom: 1.2rem;
  font-size: 1.25rem;
}

.btn-compra {
  background-color: #3c2a21;
  color: white;
  border: none;
  padding: 1rem 2.5rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  display: block;
  margin-top: 1.5rem;
  font-family: 'Maven Pro', sans-serif;
}

.btns-container {
  display: flex;
  gap: 1rem; /* Espacio entre botones */
  margin-top: 1.5rem;
}

.btn-compra {
  background-color: #3c2a21;
  color: white;
  border: none;
  padding: 1rem 2.5rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  font-family: 'Maven Pro', sans-serif;
  text-decoration: none; /* 👈 Quita subrayado si es un Link */
  display: inline-block;  /* 👈 Asegura que se comporte como botón */
}
