/* Importa la fuente */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D5CEA3;
  min-height: 100vh;
  font-family: 'Maven Pro', sans-serif;
  position: relative;
  overflow: hidden;
  padding-right: 50px; /* Mueve todo un poco hacia la derecha */
}

/* Semicírculo de fondo */
.semi-circulo {
  position: absolute;
  left: -80%; /* Ajusta el semicírculo para que sobresalga un poco */
  top: 50%;
  transform: translateY(-20%);
  width: 1986px;
  height: 1728px;
  background-color: #E5E5CB;
  border-radius: 50%;
  z-index: 0;
}

.login-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: transparent; /* Sin color de fondo */
  width: 100%;
  max-width: 1100px;
  margin: 0 20px;
  box-sizing: border-box;
}

.login-form {
  background-color: #3C2A21;
  padding: 40px 30px;
  border-radius: 15px;
  width: 350px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-right: 40px; /* Mueve el formulario un poco más a la derecha */
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #fff;
}

.login-form label {
  align-self: flex-start;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.9rem;
  color: #fff;
}

.login-form input {
  width: 100%;
  padding: 10px;
  background-color: #D5CEA3;
  color: #3e2c1b;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}

.login-form button {
  width: 100%;
  background-color: #1A120B;
  color: #fff;
  border: none;
  padding: 10px 0;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #222;
}

.imagen-lateral {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 130px; /* Mueve hacia abajo */
    margin-left: 140px; /* Mueve hacia la derecha */
}

.imagen-lateral img {
  width: 130%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}